@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model WebUI.Pages.Product.ListModel
@{
    ViewData["Title"] = "Ürün Listesi";
}
@section _Head
{
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
}

<div class="app-main flex-column flex-row-fluid " id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 mb-10">
            <div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex flex-stack ">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
                    <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                        Ürün Listesi
                    </h1>
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                        <li class="breadcrumb-item text-muted">
                            Ürün
                        </li>
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-500 w-5px h-2px"></span>
                        </li>
                        <li class="breadcrumb-item text-muted">
                            Ürün İşlemleri
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="kt_app_content" class="app-content  flex-column-fluid ">
            <div id="kt_app_content_container" class="app-container  container-xxl ">
                <div class="card card-flush">
                    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                        <div class="card-title">
                            <div class="d-flex align-items-center position-relative my-1">
                                <i class="ki-duotone ki-magnifier fs-1 position-absolute ms-4"><span class="path1"></span><span class="path2"></span></i>
                                <input type="text" data-kt-filter="search" class="form-control form-control w-250px ps-14" placeholder="Ara..."/>
                            </div>
                            <div id="kt_datatable_example_1_export" class="d-none"></div>
                        </div>
                        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                            <div class="w-100 mw-150px">
                                <select class="form-select form-select-solid" id="chooseStatus" data-control="select2" data-hide-search="true" data-placeholder="Status" data-kt-ecommerce-product-filter="status">
                                    <option value="all">Hepsi</option>
                                    <option value="aktif">Aktif</option>
                                    <option value="pasif">Pasif</option>
                                </select>
                            </div>

                            <a asp-page="/Product/Add" class="btn btn-light-info">
                                <i class="ki-duotone ki-plus-square fs-2">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                </i>
                                Yeni Ürün
                            </a>

                            <button type="button" class="btn btn-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                <i class="ki-duotone ki-exit-down fs-2">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                                Dışa Aktar
                            </button>
                            <div id="kt_datatable_example_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4" data-kt-menu="true">
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3" data-kt-export="excel">
                                        Excel Çıktısı
                                    </a>
                                </div>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3" data-kt-export="csv">
                                        CSV Çıktısı
                                    </a>
                                </div>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3" data-kt-export="pdf">
                                        PDF Çıktısı
                                    </a>
                                </div>
                            </div>
                            <div id="kt_datatable_example_buttons" class="d-none"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table align-middle rounded table-row-dashed fs-6 g-5" id="kt_datatable_example">
                            <thead>
                                <tr class="text-start fw-bold fs-7 text-uppercase">
                                    <th class="min-w-100px">ÜRÜN</th>
                                    <th class="min-w-100px">KATEGORİ</th>
                                    <th class="min-w-100px text-end">BARKOD</th>
                                    <th class="min-w-100px text-end">STOK</th>
                                    <th class="min-w-100px">ALIŞ FİYATI</th>
                                    <th class="min-w-100px">SATIŞ FİYATI</th>
                                    <th class="min-w-100px">ÖNCEKİ SATIŞ FİYATI</th>
                                    <th class="min-w-100px">SON İŞLEM TARİHİ</th>
                                    <th class="min-w-100px">DURUM</th>
                                    <th class="min-w-150px">İŞLEMLER</th>
                                </tr>
                            </thead>
                            <tbody class="fw-semibold text-gray-600">
                                @foreach (var item in Model.ViewModel)
                                {
                                    <tr class="odd">
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a asp-page="/Product/Edit" asp-route-id="@item.Id" class="symbol symbol-50px">
                                                    <span class="symbol-label" style="background-image:url(@Configuration.GetValue(typeof(string), "ImageUrl")@item.Image);"></span>
                                                </a>

                                                <div class="ms-5">
                                                    <a asp-page="/Product/Edit" asp-route-id="@item.Id" class="text-gray-800 text-hover-primary fs-5 fw-bold">@item.Name</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td><span class="fw-bold ms-3">@item.CategoryName</span></td>
                                        <td class="text-end"><span class="fw-bold ms-3">@item.Barcode</span></td>
                                        <td class="text-end">
                                            @if (item.Stock <= item.CriticalStock && item.Stock >= 1)
                                            {
                                                <span class="badge badge-light-warning">Kritik Stok</span>
                                            }
                                            @if (item.Stock <= 0)
                                            {
                                                <span class="badge badge-light-danger">Stokta Yok</span>
                                            }
                                            <span class="fw-bold ms-3">@item.Stock</span>
                                        </td>
                                        <td><span class="fw-bold ms-3">@item.PurchasePrice &#8378;</span></td>
                                        <td><span class="fw-bold ms-3 text-gray-800">@item.SalePrice &#8378;</span></td>
                                        <td><span class="fw-bold ms-3">@item.PreviousSellingPrice &#8378;</span></td>
                                        <td><span class="fw-bold ms-3">@item.UpdateDate</span></td>
                                        <td>
                                            @if (item.Status)
                                            {
                                                <div class="badge badge-light-success">Aktif</div>
                                            }
                                            else
                                            {
                                                <div class="badge badge-light-danger">Pasif</div>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" asp-page="/Product/Edit" asp-route-id="@item.Id">
                                                <i class="ki-duotone ki-pencil fs-2">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </i>
                                            </a>
                                            <button class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" onclick="Product.PrintTag(@item.Id)">
                                                <i class="ki-duotone ki-printer fs-2">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                    <span class="path4"></span>
                                                    <span class="path5"></span>
                                                </i>
                                            </button>
                                            <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" asp-page="/Product/Delete" asp-route-id="@item.Id" onclick="Product.DeleteConfirm(this)">
                                                <i class="ki-duotone ki-trash fs-2">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span><span class="path3"></span>
                                                    <span class="path4"></span><span class="path5"></span>
                                                </i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-none">
    <input asp-for="ToastrError" />
</div>
<div class="d-none">
    <input asp-for="ToastrSuccess" />
</div>

@section _Foot
{
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/pages/product/product.js"></script>
    <script src="~/assets/js/pages/product/listData.js"></script>
}
