@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model WebUI.Pages.Pos.SaleModel
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Perakende Satış";
    decimal caseTotal = 0;
    decimal extraMoney = 0;
}
@section _Head
{
    <link href="~/assets/css/numpad/jquery.numpad.css" rel="stylesheet" type="text/css" />
}

<div class="app-main flex-column flex-row-fluid " id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6">
            <div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex flex-stack " style="max-width:1500px">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
                    <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                        Perakende Satış
                    </h1>
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                        <li class="breadcrumb-item text-muted">
                            Ürün
                        </li>
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-500 w-5px h-2px"></span>
                        </li>
                        <li class="breadcrumb-item text-muted">
                            Perakende Satış
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="kt_app_content" class="app-content  flex-column-fluid ">
            <div id="kt_app_content_container" class="app-container container-xxl" style="max-width:1500px">
                <div class="d-flex flex-column flex-xl-row">
                    <div class="d-flex flex-row-fluid me-xl-9 mb-10 mb-xl-0">
                        <div class="card card-flush card-p-0 bg-transparent border-0 ">
                            <div class="card-header align-items-center py-5 gap-2 gap-md-5 mb-20">
                                <div class="card-title">
                                    <form class="form d-flex flex-column flex-lg-row" asp-page-handler="Add" method="post">
                                        <div class="d-flex align-items-center position-relative my-1">
                                            <img src="https://cdn-icons-png.flaticon.com/128/39/39881.png" class="w-25px fs-1 position-absolute ms-4"/>
                                            <input asp-for="AddRequestModel.Barcode" type="text" id="barcodeNo" data-kt-filter="search" class="form-control form-control w-300px ps-14" placeholder="Barkod No" autofocus autocomplete="off"/>
                                        </div>
                                        <div class="d-flex align-items-center position-relative my-1" style="margin-left:10px">
                                            <span class="text-gray-800 fw-bold fs-1 d-block">*</span>
                                        </div>
                                        <div class="d-flex align-items-center position-relative my-1" style="margin-left:10px">
                                            <input asp-for="AddRequestModel.Quantity" type="text" id="quantity" data-kt-filter="search" class="form-control w-100px" placeholder="Adet"/>
                                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                                <span asp-validation-for="AddRequestModel.Quantity"></span>
                                            </div>
                                        </div>
                                        <button type="submit" hidden></button>
                                    </form>
                                </div>
                                <div class="card-toolbar flex-row-fluid justify-content-end gap-5" style="display:block;">
                                    <a data-bs-toggle="modal" data-bs-target="#findPrice" type="button" class="btn btn-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                        <i class="ki-duotone ki-search-list fs-2">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                        </i>
                                        Fiyat Bul
                                    </a>
                                    <button type="button" class="btn btn-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" id="kt_app_layout_builder_toggle">
                                        <i class="ki-duotone ki-ranking fs-2">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                            <span class="path4"></span>
                                        </i>
                                        Hızlı Satış Ürünleri
                                    </button>
                                    <button type="button" class="btn btn-light-info" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                        <i class="ki-duotone ki-profile-user fs-2">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                            <span class="path4"></span>
                                        </i>
                                        Cari Hesaplar
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive mb-8">
                                    <table class="table align-middle table-row-dashed gs-0 gy-4 my-0">
                                        <thead>
                                        <tr class="fw-bold fs-4 text-uppercase">
                                            <th class="w-350px text-left">ÜRÜN ADI</th>
                                            <th class="w-150px text-center">BİRİM FİYATI</th>
                                            <th class="w-150px text-center">ADET</th>
                                            <th class="w-150px text-center">TOPLAM FİYAT</th>
                                            <th class="w-100px text-center">İŞLEM</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        @foreach (var item in Model.ViewModel)
                                        {
                                            <tr data-kt-pos-element="item">
                                                <td class="pe-0">
                                                    <div class="d-flex align-items-center">
                                                        <span class="fw-bold text-gray-600 fs-6 me-1">@item.ProductName</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="fw-bold text-primary fs-2 d-flex align-items-center justify-content-center" data-kt-pos-element="item-total">@item.ProductUnitPrice &#8378;</span>
                                                </td>
                                                <td class="pe-0">
                                                    @if (item.ProductName != "Extra Para")
                                                    {
                                                        <div class="position-relative d-flex align-items-center justify-content-center" data-kt-dialer="true" data-kt-dialer-min="1" data-kt-dialer-step="1" data-kt-dialer-decimals="0">
                                                            <a asp-page="/Pos/QuantityReduce" asp-route-id="@item.Id" class="btn btn-icon btn-sm btn-light btn-icon-gray-500">
                                                                <i class="ki-duotone ki-minus fs-3x"></i>
                                                            </a>
                                                            <input type="text" class="form-control border-0 text-center px-0 fs-3 fw-bold text-gray-800 w-30px" data-kt-dialer-control="input" placeholder="Amount" name="manageBudget" readonly="" value="@item.ProductQuantity">
                                                            <a asp-page="/Pos/QuantityIncrease" asp-route-id="@item.Id" class="btn btn-icon btn-sm btn-light btn-icon-gray-500">
                                                                <i class="ki-duotone ki-plus fs-3x"></i>
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        extraMoney = item.ProductUnitPrice;
                                                    }
                                                </td>
                                                <td>
                                                    <span class="fw-bold text-primary fs-2 d-flex align-items-center justify-content-center" data-kt-pos-element="item-total">
                                                        @{
                                                            var totalPrice = item.ProductUnitPrice * item.ProductQuantity;
                                                            caseTotal += totalPrice;
                                                        }
                                                        @totalPrice &#8378;
                                                    </span>
                                                </td>
                                                <td>
                                                    <a asp-page="/Pos/Delete" asp-route-id="@item.Id" class="me-2 mb-2 d-flex align-items-center justify-content-center">
                                                        <i class="ki-duotone ki-trash text-danger fs-1">
                                                            <span class="path1"></span>
                                                            <span class="path2"></span>
                                                            <span class="path3"></span>
                                                            <span class="path4"></span>
                                                            <span class="path5"></span>
                                                        </i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-row-auto w-xl-450px">
                        <div class="card card-flush bg-body " id="kt_pos_form">
                            <div class="card-header pt-5 mb-11">
                                <h3 class="card-title fw-bold text-gray-800 fs-2qx">KASA</h3>
                                <div class="d-flex flex-equal gap-1 px-0 mb-1 justify-content-end">
                                    <div class="image-input-wrapper w-50px h-50px" style="background-image: url(https://cdn-icons-png.flaticon.com/128/6785/6785304.png);background-size: contain;"></div>
                                    <div class="image-input-wrapper w-50px h-50px" style="background-image: url(https://cdn-icons-png.flaticon.com/128/5974/5974771.png);background-size: contain;"></div>
                                    <div class="image-input-wrapper w-50px h-50px" style="background-image: url(https://cdn-icons-png.flaticon.com/512/2657/2657138.png);background-size: contain;"></div>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                           
                                <div class="d-flex flex-stack bg-info rounded-3 p-6 mb-11">
                                    <div class="fs-6 fw-bold text-white">
                                        <span class="d-block fs-2qx lh-1">Toplam</span>
                                    </div>
                                    <div class="fs-6 fw-bold text-white text-end">
                                        <span class="d-block fs-3qx lh-1" data-kt-pos-element="grant-total" id="caseTotal">@caseTotal &#8378;</span>
                                    </div>
                                </div>
                                <ul class="nav nav-pills d-flex justify-content-between nav-pills-custom gap-3 mb-6" role="tablist">
                                    <li class="nav-item mb-3 me-0" role="presentation">
                                        <a data-bs-toggle="modal" data-bs-target="#addMoneyNumpad" class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-5 pb-3 page-bg show active" data-bs-toggle="pill" style="width:120px;" aria-selected="true" role="tab">
                                            <div class="nav-icon mb-3">
                                                <img src="~/assets/media/other/save-money.png" class="w-50px" alt="">
                                            </div>
                                            <div class="">
                                                <span class="text-gray-800 fw-bold fs-4 d-block">Para Ekle</span>
                                                <span class="text-danger fw-bold fs-4 d-block">@extraMoney &#8378;</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-3 me-0" role="presentation">
                                        <a data-bs-toggle="modal" data-bs-target="#receivedMoneyNumpad" class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-5 pb-3 page-bg show active" data-bs-toggle="pill" href="#kt_pos_food_content_1" style="width:120px;" aria-selected="true" role="tab">
                                            <div class="nav-icon mb-3">
                                                <img src="~/assets/media/other/income.png" class="w-50px" alt="">
                                            </div>
                                            <div class="">
                                                <span class="text-gray-800 fw-bold fs-4 d-block">Alınan Para</span>
                                                <span class="text-danger fw-bold fs-4 d-block" id="receivedMoneyNumpadSpan">0 &#8378;</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-3 me-0" role="presentation">
                                        <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-5 pb-3 page-bg show active" data-bs-toggle="pill" href="#kt_pos_food_content_1" style="width:120px;" aria-selected="true" role="tab">
                                            <div class="nav-icon mb-3">
                                                <img src="~/assets/media/other/loan.png" class="w-50px" alt="">
                                            </div>
                                            <div class="">
                                                <span class="text-gray-800 fw-bold fs-4 d-block">Para Üstü</span>
                                                <span class="text-danger fw-bold fs-4 d-block" id="remainderMoneyNumpadSpan">0 &#8378;</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="m-0">
                                    <h1 class="fw-bold text-gray-800 mb-5">Ödeme Yöntemi</h1>
                                    <div class="d-flex flex-equal gap-5 gap-xxl-9 px-0 mb-12" data-kt-buttons="true" data-kt-buttons-target="[data-kt-button]">
                                        <label class="btn bg-light btn-color-gray-600 btn-active-text-gray-800 border border-3 border-gray-100 border-active-primary btn-active-light-primary w-100 px-4 active" data-kt-button="true">
                                            <input class="btn-check" type="radio" name="method" value="0">
                                            <i class="ki-duotone ki-dollar fs-2hx mb-2 pe-0">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                                <span class="path3"></span>
                                            </i>
                                            <span class="fs-7 fw-bold d-block">Nakit</span>
                                        </label>
                                        <label class="btn bg-light btn-color-gray-600 btn-active-text-gray-800 border border-3 border-gray-100 border-active-primary btn-active-light-primary w-100 px-4 " data-kt-button="true">
                                            <input class="btn-check" type="radio" name="method" value="1">
                                            <i class="ki-duotone ki-credit-cart fs-2hx mb-2 pe-0">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            <span class="fs-7 fw-bold d-block">Kart</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="kt_app_layout_builder" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="app-settings" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'lg': '580px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_app_layout_builder_toggle" data-kt-drawer-close="#kt_app_layout_builder_close">

    <div class="card border-0 shadow-none rounded-0 w-100">
        <div class="card-header bgi-position-y-bottom bgi-position-x-end bgi-size-cover bgi-no-repeat rounded-0 border-0 py-4" id="kt_app_layout_builder_header" style="background-image:url('../assets/media/other/customizer-header-bg.jpg')">
            <h3 class="card-title fs-3 fw-bold text-white flex-column m-0">
                Hızlı Satış Ürünleri

                <small class="text-white opacity-50 fs-7 fw-semibold pt-1">
                    ürünlerinizi burada bulamıyorsanız, ürününüzü Favorilere eklemeyi deneyin!
                </small>
            </h3>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon btn-color-white p-0 w-20px h-20px rounded-1" id="kt_app_layout_builder_close">
                    <i class="ki-duotone ki-cross-square fs-2"><span class="path1"></span><span class="path2"></span></i>
                </button>
            </div>
        </div>
        <div class="card-body position-relative" id="kt_app_layout_builder_body">
            <div id="kt_app_settings_content" class="position-relative scroll-y me-n5 pe-5" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_app_layout_builder_body" data-kt-scroll-dependencies="#kt_app_layout_builder_header, #kt_app_layout_builder_footer" data-kt-scroll-offset="5px">
              
                <ul class="nav nav-pills nav-pills-custom gap-3 mb-6" role="tablist">
                    @{
                        var counter = 0;
                    }
                    @foreach (var item in Model.ViewModelFavorite)
                    {
                        counter++;
                        <li class="nav-item mb-3 me-0" role="presentation">
                            <div class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-5 pb-3 page-bg show active" data-bs-toggle="pill" style="width:250px;" aria-selected="true" role="tab">
                                <div class="nav-icon mb-3">
                                    <img src="@Configuration.GetValue(typeof(string), "BaseUrl")@item.Image" class="w-100px" alt="">
                                </div>
                                <div class="">
                                    <span class="text-gray-800 fw-bold fs-4 d-block" style="min-height: 75px">@item.Name</span>
                                    <div class="position-relative d-flex align-items-center justify-content-center" data-kt-dialer="true" data-kt-dialer-min="1" data-kt-dialer-step="1" data-kt-dialer-decimals="0"  style="margin:auto">
                                        <input id="favoriteAddBarcode_@counter" value="@item.Barcode" hidden />
                                        <button class="btn btn-icon btn-sm btn-light btn-icon-gray-500" data-kt-dialer-control="decrease">
                                            <i class="ki-duotone ki-minus fs-3x"></i>
                                        </button>
                                        <input id="favoriteAddQuantity_@counter" type="text" class="form-control border-0 text-center px-0 fs-3 fw-bold text-gray-800 w-30px" data-kt-dialer-control="input" placeholder="Amount" readonly="">
                                        <button class="btn btn-icon btn-sm btn-light btn-icon-gray-500" data-kt-dialer-control="increase">
                                            <i class="ki-duotone ki-plus fs-3x"></i>
                                        </button>
                                        <button class="btn btn-icon btn-success fw-bold fs-4 d-block fs-8" onclick="Request.AddAjax(2,@counter)">
                                            <i class="ki-duotone ki-handcart text-white fs-2"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="addMoneyNumpad">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form" asp-page-handler="AddMoney" method="post">
                    <input asp-for="AddMoneyRequestModel.ProductUnitPrice" type="text" class="form-control ps-14 mb-10 numpad-input" id="addMoneyNumpadInput" autofocus />
                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                        <span asp-validation-for="AddMoneyRequestModel.ProductUnitPrice"></span>
                    </div>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                    <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('7','addMoneyNumpadInput')">7</button>
                            </td>
                            <td>
                                    <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('8','addMoneyNumpadInput')">8</button>
                            </td>
                            <td>
                                    <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('9','addMoneyNumpadInput')">9</button>
                            </td>
                            <td>
                                    <button type="button" class="btn btn-secondary numpad-key numpad-action-button" onclick="NumPad.SetSymbol('CE','addMoneyNumpadInput')">CE</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                    <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('4','addMoneyNumpadInput')">4</button>
                            </td>
                            <td>
                                    <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('5','addMoneyNumpadInput')">5</button>
                            </td>
                            <td>
                                    <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('6','addMoneyNumpadInput')">6</button>
                            </td>
                            <td>
                                    <button type="button" class="btn btn-secondary numpad-key numpad-action-button" onclick="NumPad.SetSymbol('C','addMoneyNumpadInput')">C</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                    <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('1','addMoneyNumpadInput')">1</button>
                            </td>
                            <td>
                                    <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('2','addMoneyNumpadInput')">2</button>
                            </td>
                            <td>
                                    <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('3','addMoneyNumpadInput')">3</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary numpad-key numpad-action-button" data-bs-dismiss="modal">&#10060;</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                    <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('00','addMoneyNumpadInput')">00</button>
                            </td>
                            <td>
                                    <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('0','addMoneyNumpadInput')">0</button>
                            </td>
                            <td>
                                    <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('.','addMoneyNumpadInput')">.</button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-secondary numpad-key numpad-action-button">&#9989;</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="receivedMoneyNumpad">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form action="javascript:;" onsubmit="NumPad.ReceivedMoney()">
                    <input asp-for="ReceivedMoneyRequestModel.ReceivedMoneyNumpadInput" type="text" class="form-control ps-14 mb-10 numpad-input" id="receivedMoneyNumpadInput" autofocus />
                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                        <span asp-validation-for="ReceivedMoneyRequestModel.ReceivedMoneyNumpadInput"></span>
                    </div>
                    <button type="submit" hidden></button>
                </form>
                
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('7','receivedMoneyNumpadInput')">7</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('8','receivedMoneyNumpadInput')">8</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('9','receivedMoneyNumpadInput')">9</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary numpad-key numpad-action-button" onclick="NumPad.SetSymbol('CE','receivedMoneyNumpadInput')">CE</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('4','receivedMoneyNumpadInput')">4</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('5','receivedMoneyNumpadInput')">5</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('6','receivedMoneyNumpadInput')">6</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary numpad-key numpad-action-button" onclick="NumPad.SetSymbol('C','receivedMoneyNumpadInput')">C</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('1','receivedMoneyNumpadInput')">1</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('2','receivedMoneyNumpadInput')">2</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('3','receivedMoneyNumpadInput')">3</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary numpad-key numpad-action-button" data-bs-dismiss="modal">&#10060;</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('00','receivedMoneyNumpadInput')">00</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('0','receivedMoneyNumpadInput')">0</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-dark numpad-key" onclick="NumPad.SetSymbol('.','receivedMoneyNumpadInput')">.</button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-secondary numpad-key numpad-action-button">&#9989;</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="findPrice">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Fiyat Bul</h3>

                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
            </div>

            <div class="modal-body">
                <form action="javascript:;" onsubmit="Request.FindPrice()">
                    <input type="text" class="form-control ps-14 mb-10 numpad-input" id="findPriceBarcodeNo" placeholder="Barkod No"/>
                    <button type="submit" hidden></button>
                </form>
                <table id="findPriceTable" style="display:none;">
                    <thead>
                        <tr class="fw-bold fs-4 text-uppercase">
                            <th class="w-350px text-left">ÜRÜN ADI</th>
                            <th class="w-200px text-left">BARKOD</th>
                            <th class="w-150px text-left">SATIŞ fİYATI</th>
                            <th class="w-50px text-left">İŞLEM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pe-0">
                                <div class="d-flex align-items-center">
                                    <span class="fw-bold text-gray-600 fs-3 me-1" id="findPriceTableProductName"></span>
                                </div>
                            </td>
                            <td class="pe-0">
                                <div class="d-flex align-items-center ">
                                    <span class="fw-bold text-gray-600 fs-3 me-1" id="findPriceTableBarcode"></span>
                                </div>
                            </td>
                            <td class="pe-0">
                                <div class="d-flex align-items-center ">
                                    <span class="fw-bold text-gray-600 fs-1 me-1" id="findPriceTableSalePrice"></span>
                                </div>
                            </td>
                            <td class="pe-0">
                                <button class="btn btn-light me-2 mb-2 d-flex align-items-center justify-content-center" onclick="Request.AddAjax(1)">
                                    <i class="ki-duotone ki-handcart fs-1">
                                       
                                    </i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="d-none">
    <input asp-for="ToastrError" />
</div>

@section _Foot{

    <script src="~/assets/js/pages/pos/request.js"></script>
    <script src="~/assets/js/pages/pos/pos.js"></script>
    <script src="~/assets/js/custom/numpad/jquery.numpad.js"></script>
}